<footer class="site-footer" style="text-align: center; padding: 2rem 0;">
  <div class="social-icons">
    <a href="https://github.com/naclist" target="_blank">
      <img class="social-icon" src="{{ "images/github-color.svg" | absURL }}" alt="GitHub">
    </a>
    <a href="https://scholar.google.com/citations?user=jjvdIuYAAAAJ" target="_blank">
      <img class="social-icon" src="{{ "images/scholar-color.svg" | absURL }}" alt="Google Scholar">
    </a>
    <a href="mailto:Zxzzzhu@gmail.com">
      <img class="social-icon" src="{{ "images/email-color.svg" | absURL }}" alt="Email">
    </a>
  </div>
  <p>© 2025 Naclist. All rights reserved.</p>
</footer>
