<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>

    <!-- ✅ Urbanist 字体 加粗样式也包含进来 -->
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;700&display=swap" rel="stylesheet">

    <!-- ✅ 引入自定义样式 -->
    <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
  </head>
  <body>
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>
